@font-face {
  font-family: "Absolute Blonde";
  src: url("./fonts/Absolute\ Blonde.ttf") format("truetype");
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std Medium";
  src: url("./fonts/ITC\ Avant\ Garde\ Gothic\ Std\ Medium.otf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 20px 50px;
  display: inline-block;
}

body {
  width: 100%;
  height: 100vh;

  background-image: url("./assets/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  font-family: "Absolute Blonde", sans-serif;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 650px;
  gap: 100px;
  margin-left: 125px;
}

header {
  display: flex;
  gap: 150px;
  margin-top: 80px;
}

header span {
  font-size: 80px;
  font-weight: semi-bold;
  color: #ffffff;
  -webkit-text-stroke: 2px #ff00ff;
  text-stroke: 2px #ff00ff;
  text-shadow: -1px -1px 0 #ff00ff, 1px -1px 0 #ff00ff, -1px 1px 0 #ff00ff,
    1px 1px 0 #ff00ff;
}

.phrase {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: "ITC Avant Garde Gothic Std Medium", sans-serif;
  justify-content: flex-start;
  margin-left: 71px;
}

.phrase h2 {
  font-size: 40px;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cine p {
  font-size: 45px;
}

.cine p:last-child {
  font-size: 30px;
}

.social {
  display: flex;
  gap: 15px;
}

i {
  font-size: 45px;
}

i:hover {
  transform: scale(1.3); /* Aumenta o tamanho em 1.5x */
  background-color: #ff00ff; /* Altera a cor para rosa (#ff00ff) */
  color: #fff;
  border-radius: 5px;
}
